<!DOCTYPE html>
<html lang ="ja">
<head>
  <title>SHIMADAclub</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class = "header">
      <div class = "header-logo">
        <h1>MATSUIクラブ</h1>
      </div>
      <div class = "header-list">
        <ul>
          <li><%= link_to("ホーム","/") %></li>
          <li><%= link_to("クラブ紹介","/invates") %></li>
          <li><%= link_to("練習日程","/placticies") %></li>
          <li><%= link_to("年間イベント","/ivents") %></li>
          <li><%= link_to("ブログ","/blogs") %></li>
          <li><%= link_to("お問い合わせ","/contacts") %></li>
        </ul>
      </div>
    </div>
  </header>
  <%= yield %>
  <footer></footer>
</body>

</html>
